{% extends 'html/base.html' %}
{% block title %}Blood Group{% endblock %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row mx-2">
        <div class="col-md-3 card shadow-lg mr-2 h-100">
            <div class="card-body">
                <h4>Create Blood Group</h4>
                <form method="post">
                    {% csrf_token %}
                    {% for i in p %}
                        {{i}}
                    {% endfor %}
                    <div class="row mb-2">
						<div class="col">
							<input type="reset" value="Clear" class="btn btn-outline-danger form-control">
						</div>
						<div class="col">
							<input type="submit" value="Create" class="btn btn-outline-success form-control">
						</div>
					</div>
                </form>
            </div>
        </div>
        <div class="col card shadow-lg h-100">
            <div class="card-body">
                <h4>Blood List</h4>
                <table class="table">
                    <tr>
                        <th>Sno</th>
                        <th>Blood Group</th>
                        <th>Units</th>
                    </tr>
                    {% for j in s %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{j.blood_group}}</td>
                            <td>{{j.units}}</td>
        
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}