{% extends 'html/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row mx-2">
        <div class="card col-md-2 shadow-lg m-2 h-100">
            <div class="card-body">
                <img src="{{request.user.pfimg.url}}" class="rounded-circle" height="120px" width="150px">
                <h3>{{request.user.username}}</h3>
            </div>
        </div>
        <div class="card col shadow-lg m-2">
            <div class="card-body">
                <div class="row my-2">
                    <div class="col">
                        <h3>Details</h3>
                    </div>
                    <div class="col">
                        <a href="{% url 'upf' %}" class="btn btn-outline-info float-right">Update Profile</a>
                    </div>
                </div>
                
                <table class="table table-responsive">
                    <tr>
                        <td>Username</td>
                        <td>{{request.user.username}}</td>
                        <td>Role Type</td>
                        <td>
                            {% if user.is_superuser %}
                                <p class="badge badge-warning">Admin</p>
                            {% elif request.user.role_type == '1' %}
                                <p class="badge badge-warning">Donor</p>
                            {% elif request.user.role_type == '0' %}
                                <p class="badge badge-primary">Guest</p>
                            {% elif request.user.role_type == '2' %}
                                <p class="badge badge-info">Staff</p>
                            {% elif request.user.role_type == '3' %}
                                <p class="badge badge-warning">med_per</p>
                            
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Firstname</td>
                        <td>{{request.user.first_name}}</td>
                        <td>Last Name</td>
                        <td>{{request.user.last_name}}</td>
                    </tr>
                    <tr>
                        <td>Email Id</td>
                        <td>{{request.user.email}}</td>
                        <td>Mobile Number</td>
                        <td>{{request.user.mble}}</td>
                    </tr>
                    {% if request.user.role_type == "1" and request.user.donorpfl.dstatus %}
                        <tr>
                            <td>Blood Group</td>
                            <td>{{request.user.donorpfl.bloodgroup}}</td>
                            <td>Address</td>
                            <td>{{request.user.donorpfl.address}}</td>
                        </tr>
                    {% elif request.user.role_type == "2" and request.user.staffpfl.sstatus %}
                    <tr>
                        <td>Staff Id</td>
                        <td>{{request.user.staffpfl.s_num}}</td>
                        <td>Qualifications</td>
                        <td>{{request.user.staffpfl.quali}}</td>
                    </tr>
                    {% elif request.user.role_type == "3" and request.user.med_per.mstatus %}
                    <tr>
                        <td>Medical Person Id</td>
                        <td>{{request.user.med_per.M_num}}</td>
                        <td>Qualifications</td>
                        <td>{{request.user.med_per.quali}}</td>
                    </tr>
                    <tr>
                        <td>Licence Number</td>
                        <td>{{request.user.med_per.Med_Li_Num}}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}